{% extends 'base-login.html' %}

{% block title %}
Create project
{% endblock %}

{% block body %}
<div class="container content">
    <h1>New Project</h1>
    <form method="POST">
        <label for="title">Project name</label>
        <input type="text" id="title" name="title" class="form-control" required><br>

        <label for="description">Description</label><br>
        <textarea id="description" name="description" class="form-control"></textarea><br>

        <label for="created_date">Creation date</label>
        <input type="datetime-local" id="created_date" name="created_date" class="form-control"><br>

        <label for="status">Status</label>
        <select id="status" name="status" class="form-control" required>
            <option value="active">Active</option>
            <option value="frozen">Frozen</option>
            <option value="rejected">Rejected</option>
            <option value="completed">Completed</option>
        </select><br>

        <input type="submit" value="Create project" class="btn btn-success">
    </form>
</div>
{% endblock %}